fastapi
uvicorn
google-generativeai
python-dotenv
pydantic
python-multipart
pandas
openpyxl
scikit-learn
joblib
scipy
shap
matplotlib
fpdf2
psutil
plotly
motor
pymongo
bcrypt
python-jose[cryptography]
passlib[bcrypt]
dnspython
statsmodels
certifi
stripe
lime
pyarrow